* text=auto !eol
/.checkstyle -text
/.classpath -text
/.project -text
.settings/org.eclipse.core.resources.prefs -text svneol=unset#text/plain
.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
.settings/org.eclipse.jdt.launching.prefs -text svneol=unset#text/plain
.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
/LICENSE.txt -text
ant_lib/bcpg-jdk15on-150.jar -text
ant_lib/bcprov-jdk15on-1.50.jar -text
ant_lib/ivy-2.3.0.jar -text
/build-patternset.xml -text
/build-properties.xml -text
/build.properties -text
/build.xml -text
/ivy.xml -text
/ivysettings.xml -text
/pom.template.xml -text
/readme.txt -text svneol=unset#text/plain
samples/ant/build.xml -text svneol=unset#text/plain
samples/google_search/google.wet -text
samples/google_search/google.xls -text
samples/google_search/wetator.config -text
samples/wetator.config -text
src/org/wetator/ant/AntOutProgressListener.java -text
src/org/wetator/ant/Version.java -text
src/org/wetator/ant/Wetator.java -text
test/ant/ant_task_classpath_test.xls -text
test/ant/build.xml -text
test/ant/commons-exec-1.1.jar -text
test/ant/failure.wet -text
test/ant/sample.xls -text
test/ant/wetator.config -text
test/checkstyle/checkstyle.xml -text
test/checkstyle/test-checkstyle.xml -text
test/findbugs/excludeFilter.xml -text svneol=unset#text/plain
test/pmd/wet-logging-jakarta-commons.xml -text svneol=unset#text/plain
test/pmd/wet-optimizations.xml -text svneol=unset#text/plain
test/pmd/wet-strings.xml -text svneol=unset#text/plain
