* text=auto !eol
/.checkstyle -text
/.classpath -text
/.project -text
.settings/org.eclipse.core.resources.prefs -text svneol=unset#text/plain
.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
.settings/org.eclipse.jdt.launching.prefs -text svneol=unset#text/plain
.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
/LICENSE.txt -text
ant_lib/ivy-2.3.0.jar -text
/build-patternset.xml -text
/build-properties.xml -text
/build.properties -text
/build.xml -text
/ivy.xml -text
/ivysettings.xml -text
/pom.template.xml -text
src/org/wetator/ant/AntOutProgressListener.java -text
src/org/wetator/ant/Version.java -text
src/org/wetator/ant/Wetator.java -text
test/checkstyle/checkstyle.xml -text
test/checkstyle/test-checkstyle.xml -text
